.list {
    width: 500px;
    height: 40px;
    background-color: rgb(172, 74, 74);
    color: white;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 4px;
    display: flex;

}

.subList{
    display: flex;
    justify-content: space-between;
    width: 435px;
}

.listTitle {
    padding-left: 20px;
    margin-top: 7px;
}

.listDate {
    margin-top: 7px;
    /* margin-left: 230px; */
}

.delete {
    color: rgba(233, 233, 59, 0.863);
    padding-left: 30px;
    padding-top: 4px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 10px;
}

.full{
    text-decoration: none;
    color: white;
    margin-top: 1px;
    
}