.body{
    background-color: rgb(172, 74, 74);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.innerBody{
    background-color: white;
    color: black;
    height: 500px;
    width: 1000px;
    margin-top: 65px;
    border-radius: 20px;
}

.noteLinkText{
    color: white;
    margin-left: -150px;
    
}

.noteLink{
text-decoration: none;
font-weight: 600;

}