.note {
    height: 100vh;
    display: flex;
}

.header2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(172, 74, 74);

}

.entry {
    width: 685px;
}

.display {
    width: 685px;
    margin-top: 60px;
}

.wrapper2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.noItem {
    text-align: center;
    color: rgb(172, 74, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}