
.signUpPage{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signUpwrapper{
    display: flex;
    justify-content: center;
}

.signUpForm{
    height: 300px;
    width: 277px;
    margin-top: 30px;
    border: none;
    }

.signUpHeader{
  color: rgb(172, 74, 74);
  

}

.backLink{
    text-decoration: none;
    font-weight: 600;

}

.backText{
    margin-left: 10px;
    margin-top: 30px;
}

.input2{
    height: 35px;
    width: 270px;
    border: 1px;
    border-style: groove;
    border-color: rgb(252, 248, 248);
    margin-top: 10px;
    padding-left: 8px;
}

.checkBox{
    font-size: 12px;
    margin-top: 8px;
    display: flex;
}

.checkBoxText1{
    margin-left: 4px;
    color: rgb(160, 155, 155);
}

.checkBoxText2{
    margin-left: 6px;
    color: rgb(42, 128, 226);
}

.signUpButton{
    height: 30px;
    width: 283px;
    background-color: rgb(172, 74, 74);
    color: white;
    margin-right: 200px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 26px;

}
